.main-contact {
    display: flex;
    padding: 0 0 30px 0;
    flex-direction: column;
    background-color: var(--color-representativo);
    background-size: cover;
}

.top-contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.main-contact h1 {
    font-size: 40px;
    color: var(--color-fuente-claro);
    padding: 30px;
}

@media (max-width: 750px) {
    .top-contact {
        flex-direction: column-reverse;
    }

}